@model IEnumerable<ControlDeVehiculos.Common.Models.Vehicle>

@{
    ViewBag.Title = "Vehículos a Resguardo";
}

<h1>Index</h1>

<p>
    @Html.ActionLink("Nuevo Resguardo", "Create", new { }, new {@class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ImagePath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoPlacas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoSerie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Resguardante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cargo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adscripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoAvPrevia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoExpediente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Origen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaFinal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @if (!string.IsNullOrEmpty(item.ImagePath))
        {
            <img src="@Url.Content(item.ImagePath)" alt="Image" style="width:150px;height:200px;max-width: 100%; height: auto;" />
        }
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Marca)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Tipo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Color)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Modelo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NoPlacas)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NoSerie)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Resguardante)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Cargo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Adscripcion)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NoAvPrevia)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NoExpediente)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Origen)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FechaInicio)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FechaFinal)
    </td>
    <td>
        @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
        @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
    </td>
</tr>
}

</table>
